// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
.cards-functional{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
}
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
.cards-functional{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
}
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
.cards-functional{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
}
 }







// .cards-functional{
//     margin: 5px;
//     display: flex;
//     justify-content: center;
//     align-items:center;
// }